*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.img{
    width: 151px;
    display: flex;
    justify-content: center;
    margin: 60px;

}
.enlaces{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}